@import '../../styles/variables';

.addPost {
  background-color: $color-secondary;
  padding: 25px;
  border-radius: 10px;
  // display: flex;
}

.title {
  font-size: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input,
  select,
  button,
  textarea {
    padding: 10px 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    transition: box-shadow 0.25s;

    &:focus {
      box-shadow: 0 0 1px 2px $color-primary;
    }
  }
  textarea {
    resize: vertical;
    height: 30vh;
    min-height: 10vh;
    max-height: 60vh;
  }
}

// .form input,
// .form select {
//   padding: 10px 5px;
//   font-size: 20px;
// }
