$color-primary: #2ee3d4;
// $color-secondary: #bbdef0;
// $color-secondary: #caf8dd;
$color-secondary: #f6f2cb;
$color-error: #f44336;
// $color-warning: #ffc107;
// $color-success: #4caf50;
// $color-info: #03a9f4;
$color-white: rgb(252, 251, 249);
$color-black: #212121;

%title {
  font-size: 50px;
  text-align: center;
  text-decoration: underline $color-primary 7px;
  margin: 0;
  padding: 20px 0 45px;
}

%link {
  background-color: $color-primary;
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  transition: 0.6s;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;

  &:hover {
    color: $color-primary;
    background-color: #000000;
  }

  &.active,
  &:active {
    color: $color-white;
    background-color: #000000;
    box-shadow: 0 10px 10px -5px darkgray;
    cursor: default;
  }
}
