@import '../../styles/variables';

.post {
  width: 70%;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 15px;
  position: relative;
  list-style: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
}

.readLink {
  text-align: right;
  flex-grow: 1;
  padding: 3px;
  border-radius: 3px;
  text-decoration-color: transparent;
  transition: 0.3s;
  font-size: 20px;
  color: $color-primary;

  &:visited {
    color: darken($color-primary, 20%);
  }

  &:hover {
    text-decoration-color: $color-primary;
  }
}

.image {
  max-width: 100%;
}
