@import '../../styles/variables';

.title {
  @extend %title;
}

.posts {
  // background-color: #fff;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.posts li {
  list-style: none;
}

.post {
  width: 70%;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 15px;
  position: relative;
}

.post p {
}

.link {
  position: absolute;
  right: 25px;
  bottom: 25px;
  // border: 1px solid transparent;
  padding: 3px;
  border-radius: 3px;
  text-decoration-color: transparent;
  transition: 0.3s;
  font-size: 20px;
  color: $color-primary;

  .link:visited {
    color: darken($color-primary, 20%);
  }

  &:hover {
    text-decoration-color: $color-primary;
  }
}

.image {
  max-width: 100%;
}
