@import 'styles/variables';

button {
  font-size: 25px;
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 25px;
  background-color: $color-secondary;
  box-shadow: 0 5px 5px gray;
  border-radius: 0 0 10px 10px;
}

.link {
  background-color: $color-primary;
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
  margin-right: 20px;

  &:hover {
    color: $color-primary;
    background-color: #000000;
  }

  &.active,
  &:active {
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0 10px 10px -5px darkgray;
    cursor: default;
  }
}
