@import 'styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poetsen+One&display=swap');

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  justify-content: start;
}

main {
  // min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;

  @media (max-width: $desktop-width) {
    width: auto;
    margin: 0px 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poetsen One', sans-serif;
}
