@import 'styles/variables';

button {
  font-size: 25px;
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 25px;
  // background-color: $color-secondary;
  background-color: rgba($color-white, 0.7);

  box-shadow: 0 3px 2px $color-black;
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(10px);
}

.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 20px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.01);
  }

  &.active {
    cursor: default;
    &:hover {
      transform: none;
    }
  }
}

.link {
  @extend %link;
}
