button {
  font-size: 25px;
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  background-color: #bbdef0;
  // background-color: #fff;
  // border-bottom: 3px solid black;
  box-shadow: 0 5px 5px gray;
}

.link {
  background-color: #2ee3d4;
  padding: 5px;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
  margin-right: 20px;
}

.link:hover {
  color: #2ee3d4;
  background-color: #000000;
}
