@import '../../styles/variables';

.nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 15px;
  // background-color: $color-secondary;
  background-color: rgba($color-white, 0.7);

  box-shadow: 0 3px 2px $color-black;
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(10px);

  @media (max-width: $tablet-width) {
    padding: 8px;
  }
}

.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
  }
}

.logo {
  margin-right: 20px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.01);
  }

  &.active {
    cursor: default;
    &:hover {
      transform: none;
    }
  }

  img {
    height: 60px;
  }

  @media (max-width: $tablet-width) {
    img {
      height: 30px;
    }
  }
}

.link {
  @extend %link;
}
